
#login .container #login-row #login-column #login-box {
  max-width: 600px;
  height: 360px;
  border: 1px solid #9C9C9C;
  background-color: #2B2C2C;
  color: white;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

.btn{
  background-color: #2B2C2C !important;border-color: white !important;

}
.text-info{
  color: white !important;
}